
.icon-note-beamed:before { content: '\e800'; } /* '' */
.icon-cinema:before { content: '\e801'; } /* '' */
.icon-soccer-ball:before { content: '\e802'; } /* '' */
.icon-gamepad:before { content: '\e803'; } /* '' */
.icon-baseball:before { content: '\e804'; } /* '' */
.icon-camera-alt:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-food:before { content: '\e807'; } /* '' */