/* -------------------------------------   Base   ----------------------------------------- */

* {
	box-sizing: border-box;
}

html, body {
	font-family: "Trebuchet MS", sans-serif;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
}

html, body,
article, section, header, footer, div, nav,
ul, ol, li,
figure,
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	outline: 0;
}

ul, ol {
	list-style: none;
}

a { text-decoration: none; }

svg {
	display: none;
}

.hr {
	opacity: 0.5;
}

/*.vr {
  border-left: 1px solid #CCC;
  opacity: 0.5;
	display: inline-block;
  height: 100%;
  width: 1px;
}
*/
/* -------------------------------------   Layout   ----------------------------------------- */

section {
	margin: 0 auto;
	width: 100%;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

.wrapper.double {
	width: 66.6666%;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.text.center {
	text-align: center;
}

.s-title {
	padding: 2rem 0;
	font-family: sans-serif;
	font-size: 2.5em;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

.s-subtitle {
	padding: 2rem 0;
	text-align: center;
	font-size: 1.25em;
}

/* -------------------------------------   Header  ---------------------------------- */

.header {
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	-webkit-animation: fadeIn 2s 0.25s;
}

.logo,
.btn-cv {
	display: inline-block;
	width: 12%;
}

.logo img {
	/*height: 100%;*/
}

.nav {
	text-align: center;
	display: inline-block;
}

.nav-item {
	font-size: 1em;
	letter-spacing: 3px;
	text-transform: uppercase;

	display: inline-block;
	margin: 0 0.5em;
	padding: 1.25em 0;
	width: 6.5em;
}

.nav-item a { color: white; }
#nav-bio  { margin: 0; }
#nav-work { margin-left: -10px; }

.btn-cv {
	border-radius: 3px;
	border: 3px solid whitesmoke;
	color: whitesmoke;
	padding: 0.75rem 0.5rem;
	text-align: center;

	-webkit-transition: all 0.75s;
	transition: all 0.75s;
}


/* -------------------------------------   Home   ----------------------------------- */

.home {
	background: rgb(61, 67, 115);
	color: whitesmoke;
}

.home-container {
	/*margin: 0 auto;
	padding: 17.5% 6%;
	width: 60%;
	text-align: center;*/
	padding: 17.5% 0;
	text-align: center;
}

.home-title {
	font-size: 4.5em;
}

.home-subtitle {
	font-size: 2em;
}

.links {
	padding-top: 1em;
	text-align: center;
}

footer .links { padding-top: 2em; }

.link {
	font-size: 2.5em;
	color: white;
	display: inline-block;
	margin: 0 0.3em;
}

.link:hover {
	/*-webkit-animation: bounce 1s infinite linear;*/
	transition: scale(1.1) 2s;
}



/* -------------------------------------   Bio   ----------------------------------- */

.bio {
	color: rgb(61, 67, 115);
	height: 100%;
}

.bio {
  position: relative;
}
.bio:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/map/test.png") no-repeat no-repeat;
  width: 100%;
  height: 100%;
  opacity : 0.4;
  z-index: -1;
}

.bio a {
	color: rgba(48, 217, 140, 1);
	transition: all 1s;
}

.bio a:hover {
	background-color: rgba(48, 217, 140, 1);
	color: white;
	border-radius: 4px;
	transition: all 1s;
}

.bio-picture {
	margin: 0 auto;
	width: 130px;
}

.bio-picture img {
	border-radius: 100%;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	z-index: 0;
	-webkit-filter: grayscale(0.9);
	transition: all 0.75s;
}

.bio-picture img:hover {
	-webkit-filter: grayscale(0);
	transition: all 0.75s;
}

.bio-description {
	background: whitesmoke;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
	margin: 1.5rem auto;
	padding: 2rem 15%;
}

.bio-hobbies {
	margin: 2em;
	text-align: center;
}

.bio-hobbies-label {
	font-family: serif;
	font-size: 1.5rem;
	font-style: italic;
	margin-bottom: 1em;
	color: rgb(244, 154, 34);
}

.hobbie {
	font-size: 2.5em;
	margin: 0 1.25rem;
	/*transition: color 1s 2s ease-in-out, transform 1s ease-in-out;*/
	transition: color 1s 1.5s;
}

.hobbie:first-child {
	margin-left: 0;
}
.hobbie:last-child {
	margin-right: 0;
}

.hobbie:hover {
	color: rgb(244, 154, 34);
	/*transition: color .5s ease-in-out, transform 1s ease-in-out;
	transform: rotate(360deg);*/
	transition: color .5s ease-in, all 1s;
	transform: rotate(360deg);
}

.icon.github {
  font-size: 46px;
	margin-top: 7px;
}

.tag {
	border: 1px solid black;
	border-radius: 350px;
	display: block;
	padding-top: 9px;
	height: 66px;
	width: 66px;
}


/* -------------------------------------   Skills   --------------------------------- */

h4 {
	font-size: 1.35rem;
	margin-top: 5px;
}

.skills,
.contact {
	background-color: rgba(22, 185, 133,1.0);
	color: rgba(236, 240, 241,1.0);
}

.skill {
	float: left;
	width: 25%;
	margin: 0 12.5%;
	text-align: center;
}

.skill:first-child,
.skill:nth-child(3) {
	margin: 0;
}

.skill-icon {
	font-size: 8rem;
}

.likes {
	padding-bottom: 2rem;
}

.like {
	background: rgb(61, 67, 115);
	border-radius: 5px;
	color: rgba(236, 240, 241,1.0);
	font-size: 1rem;
	text-align: center;

	display: inline-block;
	margin: 0 0.5rem;
	margin-bottom: 0.5em;
	padding: 0.5rem 1rem;
}



/* -------------------------------------   Projects   --------------------------------- */

.projects {
	padding-bottom: 2rem;
}

.projects, .exp {
	background-color: rgba(236, 240, 241,1.0);
	color: rgba(52, 73, 94,1.0);
}

.projects-figure {
	/*float: left;
	margin: -4px 0;
	padding: 0;
	width: 50%;*/
	display: inline-block;
	padding: 1rem;
	width: 33%;
}

.projects-figure img {
	border-radius: 4px;
	padding: 0;
	width: 100%;
}

/* -------------------------------   Work   -------------------------------- */

.timeline {
	border-left: 2px dotted rgb(61, 67, 115);
	float: left;
	height: 23em;
	width: 25%;
}

.work .s-title {
	color: rgba();
}

.current-job {
	float: right;
	width: 70%;
}

.jobs {
	padding-bottom: 3rem;
}

.jobs .company { float: left; }


.job-header {
	float: left;
	margin-bottom: 1rem;
}

.job-position {
	color: rgb(61, 67, 115);
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	margin-bottom: 2px;
}

.company {
	color: rgb(128, 128, 159);
	font-size: 1rem;
	text-transform: uppercase;
	margin: 0;
}

.job-description {
	color: #777;
}

.job-date {
	color: rgba(22, 160, 133, 1);
	line-height: 21px;
	margin: 25% -3px;
	display: list-item;
	list-style-type: circle;
	list-style-position: inside;
}

.job-date:first-child { margin-top: 5px; }
.job-date:last-child { margin-bottom: 5px; }

.job-date.active {
	color: rgb(61, 67, 115);
	font-size: 1.5rem;
}

.job {
	display: inline-block;
	margin-bottom: 2.5rem;
	text-align: justify;
	width: 100%;
}

.job-pic {
	height: 13em;
}

.job-pic img {
	float: left;
	margin-top: 3px;
	margin-right: 15px;
	height: 100%;
	width: 49%;
}

.ref-description {
	color: #777;
	font-size: 1.25rem;
	font-style: italic;

	display: block;
	margin-bottom: 15px;
}

.ref-author {
	color: rgba(52, 152, 219,1.0);
	font-size: 1.3rem;
	display: block;
	margin-bottom: 5px 0;
}

.ref-blocks {
	margin: 2.5rem auto !important;
}

.ref-pics {
	text-align: center;
	margin: 1.5rem 0;
}

.ref-pic {
	border-radius: 50px;
	cursor: pointer;
	opacity: 0.3;
	height: 52px;
	width: 52px;
	margin: 0 8px;
	-webkit-transition: all 0.75s;
	transition: all 0.75s;
}

.ref-pic.active {
	opacity: 1;
	-webkit-transition: all 0.75s;
	transition: all 0.75s;
}

.hr-half {
  border-bottom: 1px inset #CCC;
  opacity: 0.5;
  float: left;
  height: 1px;
  width: 48.5%;
}

.hr-circle {
	border: 1px solid #CCC;
	border-radius: 50px;
	float: left;
	margin: 0 1%;
	margin-top: -4px;
	height: 8px;
	width: 8px;
}


/* ----------------------------------   Contact   ---------------------------------- */

.contact {
	text-align: center;
	margin: 0 auto;
	height: 390px;
	width: 100%;
}

.contact-description {
	font-size: 2.25em;
	margin: 0 4em;
	margin-top: 0;
	margin-bottom: 1em
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.btn-email {
	/*background: rgb(61, 67, 115);*/
	border-radius: 5px;
	border: 5px solid rgba(236, 240, 241,1.0);
	color: rgba(236, 240, 241,1.0);
	font-size: 1.5rem;
	text-align: center;

	display: block;
	margin: 0 auto;
	padding: 1rem 2rem;
	width: 12em;

	-webkit-transition: all 0.75s;
	transition: all 0.75s;
}

.btn-cv:hover {
	background: rgb(61, 67, 115);
	border: 3px solid rgb(61, 67, 115);
}

.btn-email:hover {
	background: rgb(61, 67, 115);
	border: 5px solid rgb(61, 67, 115);
}


/* ---------------------------------   Footer   ------------------------------------ */

.footer {
	/*background: linear-gradient(#3d3e41,#2e2f31),#3d3e41;*/
	background: rgb(61, 67, 115);
	color: rgba(236, 240, 241,1.0);
	height: 190px;
	text-align: center;
}

.footer-signature {
	margin: 2em 0;
}

