/* -------------------------------------   Base   ----------------------------------------- */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

html, body,
article, section, header, footer, div, nav,
ul, ol, li,
figure,
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	outline: 0;
}

ul, ol {
	list-style: none;
}

a { text-decoration: none; }

.vr {
  border-left: 1px solid #CCC;
	display: inline-block;
  height: 100%;
  width: 1px;
}

/* -------------------------------------   Layout   ----------------------------------------- */

section {
	margin: 0 auto;
	width: 100%;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.text.center {
	text-align: center;
}

.s-title {
	padding: 2rem 0;
	text-align: center;
	font-size: 2.5em;
}

.s-subtitle {
	padding: 2rem 0;
	text-align: center;
	font-size: 1.5em;
}

/* -------------------------------------   Header  ---------------------------------- */

.header {
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	-webkit-animation: fadeIn 2s 0.25s;
}

.logo,
.btn-cv {
	display: inline-block;
	width: 12%;
}

.logo img {
	/*height: 100%;*/
}

.nav {
	text-align: center;
	display: inline-block;
}

.nav-item {
	display: inline-block;
	font-size: 1.1em;
	padding: 1.25em 0;
	width: 4.5em;
}

.btn-cv {
	border-radius: 3px;
	border: 3px solid whitesmoke;
	color: whitesmoke;
	padding: 0.75rem 0.5rem;
	text-align: center;

	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


/* -------------------------------------   Home   ----------------------------------- */

.home {
	background: rgb(61, 67, 115);
	color: whitesmoke;
}

.home-container {
	margin: 0 auto;
	padding: 17.5% 6%;
	width: 60%;
	text-align: center;
}

.home-title {
	font-size: 4.5em;
}

.home-subtitle {
	font-size: 2em;
}

.links {
	padding-top: 1em;
	text-align: center;
}

footer .links { padding-top: 2em; }

.link {
	font-size: 2.5em;
	color: white;
	display: inline-block;
	margin: 0 0.3em;
}



/* -------------------------------------   Bio   ----------------------------------- */

.bio {
	background-color: rgba(44, 62, 80,1.0);
	color: rgba(236, 240, 241,1.0);
	height: 500px;
}

.bio-picture {
	border-radius: 10px;
	float: left;
	margin-top: 2px;
	height: 18.5em;
	width: 40%;
}

.bio-picture img,
.bio-picture iframe {
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

.bio-description {
	width: 55%;
	float: right;
}

.bio-description-text {
	margin-top: 0;
	margin-bottom: 1em;
}

.bio-hobbies {
	margin-top: 1.5em;
}

.bio-hobbies-label {
	/*color: #333;*/
	font-size: 1.15em;
	font-weight: normal;
	font-family: sans-serif;
	margin-bottom: 1em;
	/*uppercase*/
}

.bio-hobbies-icons {
	margin-left: -0.8rem;
}

.hobbie {
	/*color: #333;*/
	font-size: 2.5em;
	margin: 0 0.125em;
}
.hobbie:first-child {
	margin-left: 0;
}
.hobbie:last-child {
	margin-right: 0;
}

.icon.github {
  font-size: 46px;
	margin-top: 7px;
}

.tag {
	border: 1px solid black;
	border-radius: 350px;
	display: block;
	padding-top: 9px;
	height: 66px;
	width: 66px;
}

/* -------------------------------------   Skills   --------------------------------- */

.skills,
.contact {
	background-color: rgba(22, 160, 133,1.0);
	color: rgba(236, 240, 241,1.0);
}

.skill {
	float: left;
	width: 25%;
	margin: 0 12.5%;
	text-align: center;
}

.skill:first-child,
.skill:nth-child(3) {
	margin: 0;
}

.skill-icon {
	font-size: 8rem;
}

.like {
	display: inline-block;
	float: left;

	background: rgb(61, 67, 115);
	border-radius: 5px;
	color: rgba(236, 240, 241,1.0);
	font-size: 1.25rem;
	text-align: center;

	margin: 0 4%;
	margin-bottom: 2em;
	padding: 0.5rem 0;
	width: 19%;
}

.like:nth-child(4n+1) {
	margin-left: 0;
}

.like:nth-child(4n) {
	margin-right: 0;
}



/* -------------------------------------   Projects   --------------------------------- */

.projects, .exp {
	background-color: rgba(236, 240, 241,1.0);
	color: rgba(44, 62, 80,1.0);
}

.projects-figure {
	float: left;
	margin: -4px 0;
	padding: 0;
	width: 50%;
}

.projects-figure img {
	width: 100%;
	padding: 0;
}

/* -------------------------------   Experience   -------------------------------- */

.jobs {
	float: left;
	width: 40%
}

.job {

}

.cites {
	float: right;
	width: 50%;
}

.job,
.cite {
	display: inline-block;
	margin-bottom: 2rem;
	text-align: justify;
	width: 100%;
}

.cite-pic {
	float: left;
}

.cite-pic img {
	height: 40px;
	width: 40px;
	border-radius: 50px;
}

.cite-block {
	width: 75%;
	float: left;
	padding-left: 0.75em;
}

.cite-description {
	font-style: italic;
	color: #777;
}

.cite-footer {
	display: block;
	float: right;
}

.cite-author {
	color: rgba(52, 152, 219,1.0);
	/*font-size: 1.1em;*/
	display: block;
	float: right;
}

.cite-company {
	display: block;
	float: right;
	color: #333;
}


/* ----------------------------------   Contact   ---------------------------------- */

.contact {
	text-align: center;
	margin: 0 auto;
	height: 390px;
	width: 100%;
}

.contact-description {
	font-size: 2.25em;
	margin: 0 4em;
	margin-top: 0;
	margin-bottom: 1em
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.btn-email {
	/*background: rgb(61, 67, 115);*/
	border-radius: 5px;
	border: 5px solid rgba(236, 240, 241,1.0);
	color: rgba(236, 240, 241,1.0);
	font-size: 1.5rem;
	text-align: center;

	display: block;
	margin: 0 auto;
	padding: 1rem 2rem;
	width: 12em;

	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-cv:hover {
	background: rgb(61, 67, 115);
	border: 3px solid rgb(61, 67, 115);
}

.btn-email:hover {
	background: rgb(61, 67, 115);
	border: 5px solid rgb(61, 67, 115);
}


/* ---------------------------------   Footer   ------------------------------------ */

.footer {
	/*background: linear-gradient(#3d3e41,#2e2f31),#3d3e41;*/
	background: rgb(61, 67, 115);
	color: rgba(236, 240, 241,1.0);
	height: 190px;
	text-align: center;
}

.footer-signature {
	margin: 2em 0;
}
