.hidden { display: none; }
/*.block { display: block; }
.inline { display : inline; }*/

.left  { float: left;  }
.right { float: right; }

.columns-1  { width:  8.3333333333333%; }
.columns-2  { width: 16.6666666666666%; }
.columns-3  { width: 25%; }
.columns-4  { width: 33.3333333333333%; }
.columns-5  { width: 41.6666666666666%; }
.columns-6  { width: 50%; }
.columns-7  { width: 58.3333333333333%; }
.columns-8  { width: 66.6666666666666%; }
.columns-9  { width: 75%; }
.columns-10 { width: 83.3333333333333%; }
.columns-11 { width: 91.6666666666666%; }
.columns-12 { width: 100%; }
